Django>=5.0,<5.2
djangorestframework>=3.15
psycopg[binary]>=3.1
django-environ>=0.11
django-filter>=24.2
drf-spectacular>=0.27
djangorestframework-simplejwt>=5.3
gunicorn>=22.0
Pillow>=10.0
pdfplumber>=0.11
pytesseract>=0.3.10
apscheduler>=3.10
holidays>=0.50
